body {
  background-color: #F6F6F6;
  background-image: url("https://media.giphy.com/media/xVn3ZmKrKIOLS/giphy.gif");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 12;
  color: #272822;
}

.card {
  padding: 10px;
  background-color: #FFFAF0;
  border-radius: 10px;
  box-shadow:2px 2px 3px #ae7878;
  text-align: center;
  width: 650px;
  margin: 20px auto;
}

#lewagon:hover{
  color:red;
}

#lewagon{
  text-decoration: underline;
}

.hover-pic {
  border-radius: 10px;
}

.hover-pic:hover {
  box-shadow:2px 2px 3px #ae7878;
}

#profile-pic {
  border-radius: 100%;
  box-shadow:2px 2px 3px #ae7878;
  width: 400px;
  margin: 20;
}

.no-padding-list, .inline-list{
  list-style-type: none;
  padding-left: 0px;
}

.inline-list li{
  display: inline-block;
  padding: 0 10px;
}

.padded-p {
  padding-left: 10px;
}



a {
  color: #683925;
  text-decoration: none;
}

h1, h2, h3, p {
  color: #683925;
}


a:hover {
  color: red;
  text-decoration: underline;
}
